@charset "UTF-8";
header .header-menu nav ul li a::before, header .header-menu nav ul li::before, header .header-menu nav ul li::after {
  content: '';
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #14aef4;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

body {
  margin: 0;
  padding: 0;
}

header .info-content,
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .info-content {
  background-color: #8cc833;
}

header .info-content ul {
  padding: 5px 0;
  margin: 0 10px;
}

header .info-content ul li {
  text-align: center;
}

header .info-content ul li:nth-child(1) {
  width: 20%;
  font-size: 24px;
}

header .info-content ul li:nth-child(2) {
  width: 80%;
  font-size: 18px;
}

header img.logo {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: auto;
}

header .header-menu nav ul {
  margin: 10px 20px;
}

header .header-menu nav ul li {
  list-style: none;
  position: relative;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-menu nav ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #8cc833;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  z-index: 1;
}

header .header-menu nav ul li a::before {
  left: 0;
  bottom: 66.66%;
}

header .header-menu nav ul li::before {
  right: 0;
  bottom: 33.33%;
}

header .header-menu nav ul li::after {
  left: 0;
  bottom: 0;
}

header .header-menu nav ul li:hover a {
  color: #ffc419;
}

header .header-menu nav ul li:hover a::before {
  width: 100%;
}

header .header-menu nav ul li:hover::after, header .header-menu nav ul li:hover::before {
  width: 100%;
}

footer {
  padding: 20px 5px 10px;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu li {
  list-style: none;
  text-align: center;
}

footer .footer-menu li .link {
  display: block;
  padding: 10px 20px;
  margin: 5px auto;
  font-size: 18px;
  color: #f60295;
  background-color: #14aef4;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-menu li .link:hover {
  background-color: #ffc419;
}

.b-latest-news {
  padding: 20px 50px;
  margin: auto 0;
  background-color: #cf8bbe;
}

.b-latest-news .latest-news-card {
  position: relative;
  cursor: pointer;
  width: auto;
  height: 100%;
  margin: 0 20px;
}

.b-latest-news .latest-news-card .latest-news-card-front,
.b-latest-news .latest-news-card .latest-news-card-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.b-latest-news .latest-news-card .latest-news-card-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.b-latest-news .latest-news-card .latest-news-card-front .latest-news-card-img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.b-latest-news .latest-news-card .latest-news-card-back {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffc419;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.b-latest-news .latest-news-card .latest-news-card-back .latest-news-card-body {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 24px;
}

.b-latest-news .latest-news-card:hover .latest-news-card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.b-latest-news .latest-news-card:hover .latest-news-card-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.b-random-products {
  padding: 10px 20px;
}

.b-random-products .product-random-card {
  margin: 0 5px;
}

.b-random-products .product-random-card .produсt-random-card-link {
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  border: 1px solid #cf8bbe;
  overflow: hidden;
}

.b-random-products .product-random-card .produсt-random-card-link .produсt-random-card-layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#14aef4), to(#ffc419));
  background: linear-gradient(#14aef4, #ffc419);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-random-products .product-random-card .produсt-random-card-link .product-random-card-content {
  position: relative;
  z-index: 2;
}

.b-random-products .product-random-card .produсt-random-card-link .product-random-card-content .product-random-card-img-top {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: auto;
}

.b-random-products .product-random-card .produсt-random-card-link .product-random-card-content .product-random-card-body {
  padding: 5px 5px;
  font-size: 18px;
  color: #cf8bbe;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.b-random-products .product-random-card .produсt-random-card-link:hover .produсt-random-card-layer {
  top: 0;
}

.b-random-products .product-random-card .produсt-random-card-link:hover .product-random-card-body {
  color: #f60295;
}

.b-random-products .warning {
  width: 100%;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  color: #f60295;
  text-align: center;
}

.b-product-card {
  padding: 20px 30px;
}

.b-product-card .product-info-title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f60295;
}

.b-product-card .product-info {
  margin: 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.b-product-card .product-info .product-info-imgs {
  width: 500px;
}

.b-product-card .product-info .product-info-imgs .product-info-img {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: auto;
}

.b-product-card .product-info .product-info-imgs .product-info-imgs-thumbnail {
  width: 100%;
  margin: 20px 10px;
}

.b-product-card .product-info .product-info-imgs .product-info-imgs-thumbnail .product-info-img-thumbnail {
  margin: 0 5px;
  width: 100px;
  height: auto;
}

.b-product-card .product-info .product-info-content0 {
  width: 600px;
  margin: 0 50px;
}

.b-news-card {
  padding: 5px;
}

.b-news-card .news-info .news-info-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #f60295;
}

.b-news-card .news-info .news-info-content .news-info-img {
  margin: 10px 0 20px;
  width: 600px;
  height: auto;
}

.b-news-card .news-info .news-info-content .news-info-text {
  padding: 0 30px;
  font-size: 21px;
}

.b-news {
  padding: 0 50px;
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.b-news .news-card {
  cursor: pointer;
  border: 1px solid #14aef4;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-news .news-card .news-card-img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.b-news .news-card .news-card-body {
  text-align: center;
}

.b-news .news-card:hover {
  background-color: #8cc833;
}

.b-category {
  padding: 10px 20px;
}

.b-category .product-card {
  margin: 0 5px;
}

.b-category .product-card .produсt-card-link {
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  border: 1px solid #cf8bbe;
  overflow: hidden;
}

.b-category .product-card .produсt-card-link .produсt-card-layer {
  position: absolute;
  top: 0;
  left: calc(2px - 100%);
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#14aef4), to(#ffc419));
  background: linear-gradient(#14aef4, #ffc419);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-category .product-card .produсt-card-link .product-card-content {
  position: relative;
  z-index: 2;
}

.b-category .product-card .produсt-card-link .product-card-content .product-card-img-top {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: auto;
  border-radius: 8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-category .product-card .produсt-card-link .product-card-content .product-card-body {
  padding: 5px 5px;
  font-size: 18px;
  color: #cf8bbe;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.b-category .product-card .produсt-card-link:hover .produсt-card-layer {
  left: 0;
}

.b-category .product-card .produсt-card-link:hover .product-card-content .product-card-img-top {
  border-radius: 0;
}

.b-category .product-card .produсt-card-link:hover .product-card-content .product-card-body {
  color: #f60295;
}

.b-your-picture form .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.b-your-picture form .user .name,
.b-your-picture form .user .city {
  width: 100%;
  margin: 0 20px;
}

.b-your-picture form .user .name label,
.b-your-picture form .user .name input,
.b-your-picture form .user .city label,
.b-your-picture form .user .city input {
  display: block;
  margin: 5px 0;
  font-size: 24px;
  color: #f60295;
}

.b-your-picture form .user .name label,
.b-your-picture form .user .city label {
  text-align: center;
}

.b-your-picture form .user .name input,
.b-your-picture form .user .city input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #8cc833;
  border-radius: 4px;
}

.b-your-picture form .user .name input:focus,
.b-your-picture form .user .city input:focus {
  border-color: #14aef4;
}

.b-your-picture form #products-own-picture {
  margin: 20px 30px 0;
}

.b-your-picture form #products-own-picture .product-own-picture .product-selection select {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 5px 20px;
  border: 1px solid #8cc833;
  border-radius: 4px;
  margin: 0;
  color: #f60295;
  font-size: 24px;
  line-height: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-your-picture form #products-own-picture .product-own-picture .product-selection select:hover {
  border-color: #cf8bbe;
}

.b-your-picture form #products-own-picture .product-own-picture .product-selection select:focus {
  border-color: #14aef4;
  outline: none;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture {
  padding: 20px;
  margin: 20px auto 0;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image img {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #8cc833;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image input {
  display: block;
  font-size: 18px;
  font-weight: bold;
  background-color: #14aef4;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid;
  border-color: #14aef4;
  border-radius: 8px;
  margin: 10px auto 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image input:hover {
  background-color: #8cc833;
  border-color: #cf8bbe;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image-parameters {
  padding: 10px 20px;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image-parameters select {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 5px 20px;
  border: 1px solid #8cc833;
  border-radius: 4px;
  margin: 0;
  color: #f60295;
  font-size: 24px;
  line-height: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image-parameters select:hover {
  border-color: #cf8bbe;
}

.b-your-picture form #products-own-picture .product-own-picture .your-picture .image-parameters select:focus {
  border-color: #14aef4;
  outline: none;
}

.b-your-picture form button {
  display: block;
  width: 50px;
  height: auto;
  padding: 0;
  border: none;
  margin: 0 auto;
  background-color: transparent;
  color: #8cc833;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=styles.css.map */