@charset "UTF-8";
header .header-menu nav ul li a::before, header .header-menu nav ul li::before, header .header-menu nav ul li::after {
  content: '';
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #14aef4;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

body {
  margin: 0;
  padding: 0;
}

header .info-content,
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .info-content {
  background-color: #8cc833;
}

header .info-content ul {
  padding: 5px 0;
  margin: 0 10px;
}

header .info-content ul li {
  text-align: center;
}

header .info-content ul li:nth-child(1) {
  width: 20%;
  font-size: 24px;
}

header .info-content ul li:nth-child(2) {
  width: 80%;
  font-size: 18px;
}

header img.logo {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: auto;
}

header .header-menu nav ul {
  margin: 10px 20px;
}

header .header-menu nav ul li {
  list-style: none;
  position: relative;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-menu nav ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #8cc833;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  z-index: 1;
}

header .header-menu nav ul li a::before {
  left: 0;
  bottom: 66.66%;
}

header .header-menu nav ul li::before {
  right: 0;
  bottom: 33.33%;
}

header .header-menu nav ul li::after {
  left: 0;
  bottom: 0;
}

header .header-menu nav ul li:hover a {
  color: #ffc419;
}

header .header-menu nav ul li:hover a::before {
  width: 100%;
}

header .header-menu nav ul li:hover::after, header .header-menu nav ul li:hover::before {
  width: 100%;
}

footer {
  padding: 20px 5px 10px;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu li {
  list-style: none;
  text-align: center;
}

footer .footer-menu li .link {
  display: block;
  padding: 10px 20px;
  margin: 5px auto;
  font-size: 18px;
  color: #f60295;
  background-color: #14aef4;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-menu li .link:hover {
  background-color: #ffc419;
}

.b-latest-news {
  padding: 10px 50px;
  background-color: #cf8bbe;
}

.b-latest-news .news-card {
  margin: 0 15px;
  background-color: #8cc833;
}

.b-latest-news .news-card .news-card-img-top {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.b-latest-news .news-card .news-card-body {
  padding: 0 10px;
  font-size: 24px;
}

.b-latest-news .news-card .news-card-body .news-card-title {
  font-weight: bold;
}

.b-latest-news .news-card .news-card-body .news-card-text {
  font-weight: 600;
}

.b-random-products {
  padding: 10px 20px;
}

.b-random-products .product-card {
  margin: 0 5px;
}

.b-random-products .product-card .produсt-card-link {
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  border: 1px solid #cf8bbe;
  overflow: hidden;
}

.b-random-products .product-card .produсt-card-link .produсt-card-layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#14aef4), to(#ffc419));
  background: linear-gradient(#14aef4, #ffc419);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.b-random-products .product-card .produсt-card-link .product-card-content {
  position: relative;
  z-index: 2;
}

.b-random-products .product-card .produсt-card-link .product-card-content .product-card-img-top {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: auto;
}

.b-random-products .product-card .produсt-card-link .product-card-content .product-card-body {
  padding: 5px 5px;
  font-size: 18px;
  color: #cf8bbe;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.b-random-products .product-card .produсt-card-link:hover .produсt-card-layer {
  top: 0;
}

.b-random-products .product-card .produсt-card-link:hover .product-card-body {
  color: #f60295;
}

.b-product-card {
  padding: 20px 30px;
}

.b-product-card .product-info-title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f60295;
}

.b-product-card .product-info {
  margin: 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.b-product-card .product-info .product-info-imgs {
  width: 500px;
}

.b-product-card .product-info .product-info-imgs .product-info-img {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: auto;
}

.b-product-card .product-info .product-info-imgs .product-info-imgs-thumbnail {
  width: 100%;
  margin: 20px 10px;
}

.b-product-card .product-info .product-info-imgs .product-info-imgs-thumbnail .product-info-img-thumbnail {
  margin: 0 5px;
  width: 100px;
  height: auto;
}

.b-product-card .product-info .product-info-content0 {
  width: 600px;
  margin: 0 50px;
}

.b-news-card {
  padding: 5px;
}

.b-news-card .news-info .news-info-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #f60295;
}

.b-news-card .news-info .news-info-content .news-info-img {
  margin: 10px 0 20px;
  width: 600px;
  height: auto;
}

.b-news-card .news-info .news-info-content .news-info-text {
  padding: 0 30px;
  font-size: 21px;
}
/*# sourceMappingURL=styles.css.map */