// Text color
$color1: #ffc419;
$color2: #14aef4;
$color3: #8cc833;
$color4: #cf8bbe;
$color5: #f60295;
// end

%line {
    content: '';
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: $color2;
    transition: .4s ease;
}

// общие стили
body {
    margin: 0;
    padding: 0;
}

header {

    .info-content,
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .info-content {
        background-color: $color3;

        ul {
            padding: 5px 0;
            margin: 0 10px;

            li {
                text-align: center;

                &:nth-child(1) {
                    width: 20%;
                    font-size: 24px;
                }

                &:nth-child(2) {
                    width: 80%;
                    font-size: 18px;
                }
            }
        }
    }

    img.logo {
        display: block;
        margin: 10px auto;
        width: 200px;
        height: auto;
    }

    .header-menu {
        nav {
            ul {
                margin: 10px 20px;

                li {
                    list-style: none;
                    position: relative;
                    padding: 10px 30px;
                    display: flex;

                    a {
                        font-size: 18px;
                        font-weight: bold;
                        color: $color3;
                        text-decoration: none;
                        padding: 10px 20px;
                        transition: .4s ease;
                        z-index: 1;

                        &::before {
                            @extend %line;
                            left: 0;
                            bottom: 66.66%;
                        }
                    }

                    &::before {
                        @extend %line;
                        right: 0;
                        bottom: 33.33%;
                    }

                    &::after {
                        @extend %line;
                        left: 0;
                        bottom: 0;
                    }

                    &:hover {
                        a {
                            color: $color1;

                            &::before {
                                width: 100%;
                            }
                        }

                        &::after,
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 20px 5px 10px;

    .footer-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
            text-align: center;

            .link {
                display: block;
                padding: 10px 20px;
                margin: 5px auto;
                font-size: 18px;
                color: $color5;
                background-color: $color2;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    background-color: $color1;
                }
            }
        }
    }
}

// стили для index.php
// свежие новости
.b-latest-news {
    padding: 20px 50px;
    margin: auto 0;
    background-color: $color4;

    .latest-news-card {
        position: relative;
        cursor: pointer;
        width: auto;
        height: 100%;
        margin: 0 20px;

        .latest-news-card-front,
        .latest-news-card-back {
            width: 100%;
            height: 100%;
            overflow: hidden;
            backface-visibility: hidden;
            transition: transform 0.5s linear;
        }

        .latest-news-card-front {
            transform: rotateY(0deg);

            .latest-news-card-img {
                display: block;
                width: 100%;
                height: auto;
                margin: auto;
            }
        }

        .latest-news-card-back {
            position: absolute;
            top: 0;
            left: 0;
            background: $color1;
            transform: rotateY(180deg);

            .latest-news-card-body {
                width: 100%;
                height: 100%;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 24px;
            }
        }

        &:hover {
            .latest-news-card-front {
                transform: rotateY(-180deg);
            }

            .latest-news-card-back {
                transform: rotateY(0deg);
            }
        }
    }
}

// случайные товары
.b-random-products {
    padding: 10px 20px;

    .product-random-card {
        margin: 0 5px;

        .produсt-random-card-link {
            position: relative;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            border: 1px solid $color4;
            overflow: hidden;

            .produсt-random-card-layer {
                position: absolute;
                top: calc(100% - 2px);
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient($color2, $color1);
                z-index: 1;
                transition: 0.5s;
            }

            .product-random-card-content {
                position: relative;
                z-index: 2;

                .product-random-card-img-top {
                    display: block;
                    margin: 0 auto;
                    width: 180px;
                    height: auto;
                }

                .product-random-card-body {
                    padding: 5px 5px;
                    font-size: 18px;
                    color: $color4;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 10px;
                }
            }

            &:hover {
                .produсt-random-card-layer {
                    top: 0;
                }

                .product-random-card-body {
                    color: $color5;
                }
            }
        }
    }

    .warning {
        width: 100%;
        padding: 20px 0;
        font-size: 30px;
        font-weight: bold;
        color: $color5;
        text-align: center;
    }
}

// стили для других страниц
// стили дая крточки товара (страника)
.b-product-card {
    padding: 20px 30px;

    .product-info-title {
        margin: 0 0 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: $color5;
    }

    .product-info {
        margin: 5px 0 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        .product-info-imgs {
            width: 500px;

            .product-info-img {
                margin: 0 auto;
                display: block;
                width: 300px;
                height: auto;
            }

            .product-info-imgs-thumbnail {
                width: 100%;
                margin: 20px 10px;

                .product-info-img-thumbnail {
                    margin: 0 5px;
                    width: 100px;
                    height: auto;
                }
            }
        }

        .product-info-content0 {
            width: 600px;
            margin: 0 50px;
        }
    }
}

// стили дая крточки новости (страника)
.b-news-card {
    padding: 5px;

    .news-info {
        .news-info-title {
            margin: 0 0 20px;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: $color5;
        }

        .news-info-content {
            .news-info-img {
                margin: 10px 0 20px;
                width: 600px;
                height: auto;
            }

            .news-info-text {
                padding: 0 30px;
                font-size: 21px;
            }
        }
    }
}

// стили для страници новостей
.b-news {
    padding: 0 50px;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;

    .news-card {
        cursor: pointer;
        border: 1px solid $color2;
        border-radius: 8px;
        transition: 0.5s;

        .news-card-img {
            display: block;
            width: 100%;
            height: auto;
            margin: auto;
            padding: 10px;
        }

        .news-card-body {
            text-align: center;
        }

        &:hover {
            background-color: $color3;
        }
    }
}

// стили для страници категорий
.b-category {
    padding: 10px 20px;

    .product-card {
        margin: 0 5px;

        .produсt-card-link {
            position: relative;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            border: 1px solid $color4;
            overflow: hidden;

            .produсt-card-layer {
                position: absolute;
                top: 0;
                left: calc(2px - 100%);
                width: 100%;
                height: 100%;
                background: linear-gradient($color2, $color1);
                z-index: 1;
                transition: 0.5s;
            }

            .product-card-content {
                position: relative;
                z-index: 2;

                .product-card-img-top {
                    display: block;
                    margin: 0 auto;
                    width: 180px;
                    height: auto;
                    border-radius: 8rem;
                    transition: 0.5s;
                }

                .product-card-body {
                    padding: 5px 5px;
                    font-size: 18px;
                    color: $color4;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 10px;
                }
            }

            &:hover {
                .produсt-card-layer {
                    left: 0;
                }

                .product-card-content {
                    .product-card-img-top {
                        border-radius: 0;
                    }

                    .product-card-body {
                        color: $color5;
                    }
                }
            }
        }
    }
}

// стили для страници товара со своей картинкой
.b-your-picture {
    form {
        .user {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .name,
            .city {
                width: 100%;
                margin: 0 20px;

                label,
                input {
                    display: block;
                    margin: 5px 0;
                    font-size: 24px;
                    color: $color5;
                }

                label {
                    text-align: center;
                }

                input {
                    width: 100%;
                    padding: 5px 10px;
                    border: 1px solid $color3;
                    border-radius: 4px;

                    &:focus {
                        border-color: $color2;
                    }
                }
            }
        }

        #products-own-picture {
            margin: 20px 30px 0;

            .product-own-picture {
                .product-selection {
                    select {
                        display: block;
                        width: 100%;
                        max-width: 100%;
                        padding: 5px 20px;
                        border: 1px solid $color3;
                        border-radius: 4px;
                        margin: 0;
                        color: $color5;
                        font-size: 24px;
                        line-height: normal;
                        box-sizing: border-box;

                        &:hover {
                            border-color: $color4;
                        }

                        &:focus {
                            border-color: $color2;
                            outline: none;
                        }
                    }
                }

                .your-picture {
                    padding: 20px;
                    margin: 20px auto 0;

                    .image {
                        img {
                            display: block;
                            width: 800px;
                            height: 600px;
                            margin: 0 auto;
                            background-color: $color3;
                        }

                        input {
                            display: block;
                            font-size: 18px;
                            font-weight: bold;
                            background-color: $color2;
                            width: 100%;
                            padding: 10px 20px;
                            border: 1px solid;
                            border-color: $color2;
                            border-radius: 8px;
                            margin: 10px auto 0;
                            transition: 0.5s;

                            &:hover {
                                background-color: $color3;
                                border-color: $color4;
                            }
                        }
                    }

                    .image-parameters {
                        padding: 10px 20px;

                        select {
                            display: block;
                            width: 100%;
                            max-width: 100%;
                            padding: 5px 20px;
                            border: 1px solid $color3;
                            border-radius: 4px;
                            margin: 0;
                            color: $color5;
                            font-size: 24px;
                            line-height: normal;
                            box-sizing: border-box;

                            &:hover {
                                border-color: $color4;
                            }

                            &:focus {
                                border-color: $color2;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        button {
            display: block;
            width: 50px;
            height: auto;
            padding: 0;
            border: none;
            margin: 0 auto;
            background-color: transparent;
            color: $color3;
            font-size: 50px;
            transition: 0.5s;
        }
    }
}